*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

.projects{
    display: flex;
    height: 100vh;
    background-image: url('../Img/Projects.jpg');
    background-size: cover; 
}

.projects-content{
    border: 1px; 
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.projects-content h2{
    font-size: 56px;
    font-weight: bold;
}