*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

.projects{
    display: flex;
    height: 100vh;
    background-image: url('../Img/Projects.jpg');
    background-size: cover; 
}

