*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

.projects{
    display: flex;
    height: 100vh;
    background-image: url('../Img/Projects.jpg');
    background-size: cover; 
}

.image-container{
    position: relative;
}

.tooltip-inner{
   background-color: #abd7fc;
   color: #fff;
   padding: 8px;
   border-radius: 4px;
   font-size: 14px; 
}

.tooltip-arrow{
    border-color: #abd7fc;
}

.tooltip a{
    color: #fff;
    text-decoration: none;
}
 
.Image-Size {
    max-width: 150px;
    height: auto;
}

